<div *ngIf="hero" class="detailContainer">
    <img src={{hero.images.lg}}>
    <h1 class="title">General</h1>
  <table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Slug</th>      
    </tr>
    <tr >
        <th>{{hero.id}}</th>
        <th>{{hero.name}}</th>
        <th>{{hero.slug}}</th>
      
    </table>
    <h1 class="title">Powerstats</h1>
    <table class="table">
        <tr>
            <th>Intelligence</th>
            <th>Strength</th>
            <th>Speed</th>  
            <th>Surability</th>
            <th>Power</th>
            <th>Combat</th>         
        </tr>
        <tr >
            <th>{{hero.powerstats.intelligence}}</th>
            <th>{{hero.powerstats.strength}}</th>
            <th>{{hero.powerstats.speed}}</th>  
            <th>{{hero.powerstats.durability}}</th>
            <th>{{hero.powerstats.power}}</th>
            <th>{{hero.powerstats.combat}}</th>     
          
        </table>
        <h1 class="title">Appearance</h1>
    <table class="table">
        <tr class="header">
            <th>Gender</th>
            <th>Race</th>
            <th>Height</th>  
            <th>Weight</th>
            <th>Eye Color</th>
            <th>Hair Color</th>            
        </tr>
        <tr >
            <th>{{hero.appearance.gender}}</th>
            <th>{{hero.appearance.race}}</th>
            <th>{{hero.appearance.height}}</th>  
            <th>{{hero.appearance.weight}}</th>
            <th>{{hero.appearance.eyeColor}}</th>
            <th>{{hero.appearance.hairColor}}</th>     
          
        </table>
        <h1 class="title">Biography</h1>
    <table class="table">
        <tr class="header">
            <th>FullName</th>
            <th>AlterEgos</th>
            <th>Aliases</th>  
            <th>Place Of Birth</th>
            <th>First Appearance</th>
            <th>Publisher</th>     
            <th>Alignment</th>      
        </tr>
        <tr >
            <th>{{hero.biography.fullName}}</th>
            <th>{{hero.biography.alterEgos}}</th>
            <th>{{hero.biography.aliases}}</th>  
            <th>{{hero.biography.placeOfBirth}}</th>
            <th>{{hero.biography.firstAppearance}}</th>
            <th>{{hero.biography.publisher}}</th>     
            <th>{{hero.biography.alignment}}</th>
          
        </table>

        <h1 class="title">Work</h1>
    <table class="table">
        <tr>
            <th class="header">Occupation</th>
            <td>{{hero.work.occupation}}</td>     
        </tr>
        <tr >
            <th class="header">Base</th>
            <td>{{hero.work.base}}</td>
          
        </table>

        <h1 class="title">Connections</h1>
    <table class="table">
        <tr>
            <th class="header">Group Affiliation</th>
            <td>{{hero.connections.groupAffiliation}}</td>     
        </tr>
        <tr >
            <th class="header">Relatives</th>
            <td>{{hero.connections.relatives}}</td>
          
        </table>
         
    
</div>
