.header {
    font-size: larger;
    color:black;
    background-color:white
}

table {
    width: 100%;
    background-color: black;
    color: white;
}


.title{
    border-bottom: solid 2px #73ad21;
}

.detailContainer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}





